header{
    background-color: rgb(110, 3, 142);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 16px;
    border : 3px solid rgb(67, 2, 86);
	box-shadow: 0px 0px 100px black;
}

body{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center
}

@keyframes slidein {
  from {
    margin-left: 15%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

h1.titre {
	animation-duration: 1.5s;
    animation-name: slidein;
}

h3{
    font-size: 25px;
}

button {
  display: inline-block;
  background-color: rgb(110, 3, 142);
  border-radius: 100px;
  border: 2px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  margin: 5px;
}


#popup {
  display: none; 
  position: fixed;
  top: 0;                     
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2;
  display: flex;
}


.popup-content {
  background: #2c0038; 
  padding: 25px;
  border-radius: 15px;
  color: white;
  width: 80%;
  max-width: 350px;
  text-align: center;
  border: 2px solid rgb(110, 3, 142);
  box-shadow: 0px 0px 15px rgba(110, 3, 142, 0.8);
  animation: fadeIn 0.25s ease;
}


@keyframes fadeIn {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.left-image {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    max-height: 80%;
    z-index: 1;
}

.right-image {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    max-height: 80%;
    z-index: 1;
}

input
{
background-color : rgb(110, 3, 142);
color : white;
border-radius: 8px;
font-family : Arial; 
border : 3px solid rgb(255, 255, 255); 
font-size: 14px;
  padding: 20px;
}

::placeholder{
  color: white;

}

@media (max-width: 600px) {
	.left-image,
	.right-image { 
	display: none;
	}

	input
{
	font-size: 20px;
	padding: 35px;
	height: 20px;
	box-sizing: border-box;
	margin-bottom: 10px;
}
}














